
:root {
    /* main colors  */
    --primary-color: #FF0000;
    --text-parahraph: #333;
    --accents: #0000FF;
    --logo-color: var(--primary-color);
    --secondary-color: #00FF00;
    --background-color: #eeeeeed4;
    --header-color: #555454
    /* Typography */ 
    --header-font-family: "Eagle Lake", cursive;
    --text-font-family: "Inter", sans-serif;
}

*, html, body {
    padding: rem;
    margin: 0;
    box-sizing: border-box;
    max-width: 1500px;
    margin: 0 auto;
}

.client_background {
    background-color: var(--background-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--text-parahraph);
}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 2.25rem;
    font-family: var(--header-font-family);
    color: var(--logo-color);
}

.menu {
    font-family: var(--header-font-family);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: 2rem;
}

.menu a, .phone_number {
    color: var(--text-parahraph);
}

.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.phone_number {
    font-family: var(--header-font-family);
    font-size: 2rem;

}

.menu li a, .phone p a {
    position: relative;
}

.menu li a::before, .phone p a::before {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: .3rem;
    background-color: var(--primary-color);
    margin-top: 5px;
    transition: width 0.3s ease-in-out;
}

.menu li a:hover::before, .phone p a:hover::before {
    width: 70%;
    opacity: .8;
}

.main {
    height: 92vh;
    position: relative;
}

.scroll_btn_form {
    position: absolute;
    top: 38%;
    right: 10%;
}

[type="radio"] {
    opacity: 0;
}

[type="radio"] + label {
    position: relative;
    padding-left: 20px;
    margin: 15px;
    cursor: pointer;
    display: block;
    color: var(--primary-color);
}

[type="radio"] + label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #333;
    border: 2px dashed #aaa;
}

[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    right: -18.3px;
    top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #eee;
}


.first_page_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first_page_image {
    width: 100%;
    height: 100%;
    display: block;
}

.image_container {
    margin-right: auto;
    width: 890px;
    height: 800px;
    position: absolute;
    right: 0;
    top: 20%;
}

.green_background_first_page {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    opacity: 26%;
    top: 70px;
    z-index: -3;
    border-radius: 398px;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 10%;
    width: 890px;
    height: 700px;
}

.first_page_header_text {
    font-family: var(--text-font-family);
    font-weight: bold;
    width: 738px;
    height: 363px;
    font-size: 5rem;
    color: var(--header-color);
}

.highlighted_text, .second_page_highlighted_text {
    color: var(--primary-color);
    display: block;
}

.first_page_desscription {
    font-size: 2rem;
    text-align: center;
    width: 500px;
    font-style: italic;
    margin-left: 3rem;
}

.button_first_page {
    position: relative;
    top: 15rem;
    left: 1rem;
    background-color: var(--primary-color);
    border: 1px dotted grey;
    padding: .8rem;
    border-radius: 3rem;
    width: 10rem;
    text-align: center;
    cursor: pointer;
}

.button_first_page a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--text-font-family);
    font-weight: bolder;
    cursor: pointer;
    color: #fff;
}

.button_first_page:hover, .button_first_page a:hover {
    opacity: 70%;
}

.second_page_div_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.second_page_image_container {
    position: relative;
    width: 897px;
    height: 795px;
}

.second_page_image {
    display: block;
    width: 100%;
    height: 100%;
}

.green_background_second_page {
    width: 897px;
    height: 795px;
    background-color: var(--secondary-color);
    position: absolute;
    opacity: 26%;
    top: 70px;
    z-index: -3;
    border-radius: 24.875rem;
}

.second_page_header_container {
    position: relative;
    width: 25.75rem;
    height: 28.25rem;
}

.second_page_header_text {
    font-size: 3rem;
}

.second_page_highlighted_text {
    text-align: center;
    font-size: 4.5rem;
}

.second_page_button_wrapper {
    background-color: var(--primary-color);
    border-radius: 3rem;
    padding: 1rem;
    position: absolute;
    bottom: -30px;
    text-align: center;
    width: 20rem;
}

.second_page_button_link {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--text-font-family);
    font-weight: bolder;
    cursor: pointer;
    color: #fff;
}

.second_page_button_wrapper:hover, .second_page_button_link:hover {
    opacity: 70%;
}

.third_page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third_page_header_text {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: bold;
}

.third_page_highlighted_text {
    color: var(--primary-color);
    font-family: var(--header-font-family);
}

.testimonies_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    width: 300px;
}

.third_page_image_container {
    position: relative;
}

.testimony_profile_image {
    width: 200px;
    height: 200px;
    border-radius: 8.375rem;
}

.testimonial_backdrop {
    background-color: var(--secondary-color);
    width: 321px;
    height: 333px;
    opacity: 26%;
    border-radius: 24.88rem;
    position: absolute;
    top: -30%;
    right: -30%;
    z-index: -2;
}

.testimony_profile_image,
.testimonial_backdrop {
    transition: transform 0.3s ease;
}

.testimony_profile_image:hover,
.testimonial_backdrop:hover {
    transform: scale(1.1);
}

.testimony_header {
    font-size: 2.25rem;
}

.testimony_header span,
.testimony_text a {
    color: var(--primary-color);
    font-family: var(--text-font-family);
}

.testimony_text {
    font-size: 1.5rem;
    width: 20rem;
    height: 6.69rem;
    font-weight: bold;
}

.fourth_page_div_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem;
    position: relative;
    height: 80vh;
}

.fourth_page_header_text {
    font-family: var(--text-font-family);
    font-size: 4rem;
    font-weight: bold;
}

.fourth_page_backdrop {
    background-color: var(--secondary-color);
    width: 25.25rem;
    height: 26.88rem;
    border-radius: 13.19rem;
    position: absolute;
    opacity: 30%;
    z-index: -2;
    top: 30%;
}

.backdrop1 {
    left: 20%;
}

.backdrop2 {
    right: 20%;
}

.services_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.services {
    width: 22.25rem;
    height: 24.88rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.service_image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.service_image:hover {
    transform: scale(1.1);
}

.fourth_page_service_text {
    font-family: var(--text-font-family);
    font-size: 1.5rem;
    text-align: center;
}

.fourth_page_service_text span {
    color: var(--primary-color);
}

.fifth_page_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 80vh;
}

.fifth_page_header {
    font-size: 4rem;
    font-family: var(--text-font-family);
    text-align: center;
}

.fifth_page_header span {
    color: var(--primary-color);
}

.fifth_page_button {
    width: 40rem;
    padding: .5rem;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 40px;
}

.fifth_page_button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: var(--text-font-family);
    font-size: 2.25rem;
}
 
.fifth_page_button a:hover,
.fifth_page_button:hover {
    opacity: 70%;
    cursor: pointer;
}

.fifth_page_backdrop {
    width: 36rem;
    height: 36rem;
    background-color: var(--secondary-color);
    border-radius: 13.5rem;
    opacity: 26%;
    position: absolute;
    top: -20px;
    right: -30px;
    z-index: -2;
}

.fifth_page_image_container {
    position: relative;
}

.fifth_page_image {
    width: 29rem;
    height: 30rem;
    transition: transform 0.3s ease;
}

.fifth_page_image:hover {
    transform: scale(1.1);
}

.footer_div_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(128, 74, 74);
    color: #fff;
}

.footer_header_text {
    font-size: 4.5rem;
    width: 20rem;
    height: 29rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address_container {
    width: 6rem;
}

.address_header {
    font-size: 3rem;
}

.social_icon {
    width: 100px;
    height: 100px;
}

.social_icon img {
    width: 100px;
    height: 100px;
}